
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Build / Package Artifacts
*.egg-info/
build/
dist/

# Virtual Environments
.venv/
venv/
env/

# IDE / OS specific
.history/
.vscode/
.cursor/
.DS_Store